<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- namespace:命名空间，该值与接口保持一致 -->
<mapper namespace="com.wander.manifold.mapper.IPreferMapper">
    <!-- 开启二级缓存，默认情况下没有有开启的 -->
    <cache/>
    <!-- 定义Pojo类属性与数据表字段对应关系 -->
    <resultMap type="Prefer" id="preferMap">
        <id property="uid" column="uid"/>
        <result property="topicId" column="topic_id"/>
        <result property="value" column="value"/>
    </resultMap>

    <insert id="insert" parameterType="Prefer">
        insert into preference_table(uid,topic_id) values(#{uid},#{topicId})
    </insert>

    <select id="queryByUidTopicId" resultMap="preferMap">
        select * from preference_table where uid=#{uid} and topic_id=#{topicId}
    </select>

    <update id="update" parameterType="java.lang.Long">
        update preference_table set preference_table.`value`=preference_table.`value`+'1' where uid=#{uid} and topic_id=#{topicId}
    </update>

    <select id="queryByUid" resultMap="preferMap">
        select * from preference_table where uid=#{arg0}
    </select>

</mapper>
